<span>
    <i (click)="changeStatus(1)" *ngIf="status == 0" class="mx-2 fa-regular fa-circle-check text-success" title="Mark As Done"></i>
    <i (click)="changeStatus(0)" *ngIf="status == 1" class="mx-2 fa-solid fa-circle-xmark text-danger" title="Mark As Undone"></i>
    <!-- <i class="mx-2 fa-solid fa-angle-right" title="Move To Next Day"></i> -->
    <i *ngIf="status == 0" class="mx-2 fa-solid fa-angles-right text-info" title="Move To Another Day"></i>
    <i class="mx-2 fa-solid fa-copy text-secondary" title="Copy Task To Another Day"></i>
    <i (click)="changeStatus(2)" *ngIf="status == 0" class="mx-2 fa-regular fa-hand" title="Postpone Task"></i>
    <i *ngIf="status == 0" class="mx-2 fa-solid fa-trash-can text-danger" title="Remove Task"></i>
</span>