<table class="table table-hover table-bordered">
    <thead>
        <!-- <th>#</th> -->
        <th>Task</th>        
        <th>Action</th>
    </thead>
    <tbody *ngIf="data!=undefined">
        <tr *ngFor="let item of data; let i = index">
            <!-- <td>
                <input type="checkbox" [checked]="item.TaskStatus == 1" (change)="onCheck($event.target, item.Id)">
            </td> -->
            <td (click)="selectTask(item)" style="cursor: pointer;">
                <s *ngIf="item.TaskStatus == 1" class="text-success">
                    <i>{{item.Title}}</i>
                </s>
                <div style="font-style: italic; color: gray;" *ngIf="item.TaskStatus == 2">{{item.Title + ' (Postponed)'}}</div>
                <div *ngIf="item.TaskStatus == 0">{{item.Title}}</div>
            </td>
            <td [width]="200">
                <app-status-task (statusChange)="handleStatusChange($event, item.Id)" [status]="item.TaskStatus"></app-status-task>
            </td>
        </tr>        
    </tbody>
</table>